# Data Collection and Initial Cleaning

In [85]:
import pandas as pd
import os

## Load data
### Loop through files in data directory

In [25]:
directory = "/Users/michaeljehl/Desktop/Projects/DSA/data/"

df = pd.DataFrame()

for file in os.listdir(directory):
    # only keep header from first file in data directory
    if file == os.listdir(directory)[0]:
        df = df.append(pd.read_csv(directory + file, header=4))
    else:
        df = df.append(pd.read_csv(directory + file, skiprows=[0,1,2,3,4]))

In [26]:
df.head()

             TYPE        DATE START TIME END TIME  USAGE UNITS   COST NOTES
0  Electric usage  2020-05-13      00:00    00:29   0.07   kWh  $0.01   NaN
1  Electric usage  2020-05-13      00:30    00:59   0.12   kWh  $0.01   NaN
2  Electric usage  2020-05-13      01:00    01:29   0.07   kWh  $0.01   NaN
3  Electric usage  2020-05-13      01:30    01:59   0.09   kWh  $0.01   NaN
4  Electric usage  2020-05-13      02:00    02:29   0.09   kWh  $0.01   NaN

In [27]:
df.shape

(34267, 8)

***Why is 5/13/2020 at the start of the df? Check min and max values to make sure all dates are in df***

In [41]:
min(df.DATE), max(df.DATE)

('2019-05-13', '2021-04-24')

**All dates are in df. Sort by DATE and START TIME**

In [52]:
df.sort_values(by=['DATE', 'START TIME'], inplace=True, ignore_index=True)

In [53]:
df.head()

             TYPE        DATE START TIME END TIME  USAGE UNITS   COST NOTES
0  Electric usage  2019-05-13      00:00    00:29   0.07   kWh  $0.01   NaN
1  Electric usage  2019-05-13      00:30    00:59   0.06   kWh  $0.01   NaN
2  Electric usage  2019-05-13      01:00    01:29   0.09   kWh  $0.01   NaN
3  Electric usage  2019-05-13      01:30    01:59   0.09   kWh  $0.01   NaN
4  Electric usage  2019-05-13      02:00    02:29   0.07   kWh  $0.01   NaN

In [54]:
df.tail()

                 TYPE        DATE START TIME END TIME  USAGE UNITS COST NOTES
34262  Electric usage  2021-04-24      21:30    21:59   0.13   kWh  NaN   NaN
34263  Electric usage  2021-04-24      22:00    22:29   0.11   kWh  NaN   NaN
34264  Electric usage  2021-04-24      22:30    22:59   0.14   kWh  NaN   NaN
34265  Electric usage  2021-04-24      23:00    23:29   0.12   kWh  NaN   NaN
34266  Electric usage  2021-04-24      23:30    23:59   0.10   kWh  NaN   NaN

## Clean the data - first pass
### Remove duplicate rows

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34267 entries, 0 to 34266
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TYPE        34267 non-null  object
 1   DATE        34267 non-null  object
 2   START TIME  34267 non-null  object
 3   END TIME    34267 non-null  object
 4   USAGE       34267 non-null  float64
 5   UNITS       34267 non-null  object
 6   COST        34219 non-null  object
 7   NOTES       24 non-null     object
dtypes: float64(1), object(7)
memory usage: 2.1+ MB

**Missing values in COST column, examine values existing in NOTES, examine values with no USAGE, identify any duplicate carryovers from merging the two data files (handle duplicates here, other issues in next notebook)**

In [63]:
# drops duplicate rows based on all columns
df.drop_duplicates(inplace=True)

In [64]:
df.shape

(34218, 8)

In [66]:
df.reset_index(drop=True, inplace=True)

In [72]:
df.head()

             TYPE        DATE START TIME END TIME  USAGE UNITS   COST NOTES
0  Electric usage  2019-05-13      00:00    00:29   0.07   kWh  $0.01   NaN
1  Electric usage  2019-05-13      00:30    00:59   0.06   kWh  $0.01   NaN
2  Electric usage  2019-05-13      01:00    01:29   0.09   kWh  $0.01   NaN
3  Electric usage  2019-05-13      01:30    01:59   0.09   kWh  $0.01   NaN
4  Electric usage  2019-05-13      02:00    02:29   0.07   kWh  $0.01   NaN

In [73]:
df.tail()

                 TYPE        DATE START TIME END TIME  USAGE UNITS COST NOTES
34213  Electric usage  2021-04-24      21:30    21:59   0.13   kWh  NaN   NaN
34214  Electric usage  2021-04-24      22:00    22:29   0.11   kWh  NaN   NaN
34215  Electric usage  2021-04-24      22:30    22:59   0.14   kWh  NaN   NaN
34216  Electric usage  2021-04-24      23:00    23:29   0.12   kWh  NaN   NaN
34217  Electric usage  2021-04-24      23:30    23:59   0.10   kWh  NaN   NaN

Confirmed duplicates were dropped and index was reset.<br><br>Pickle df and continue data cleaning in new notebook

In [86]:
df.to_pickle("AMI_data_joined.pkl")